.message img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.user-icon img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.input-group img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.messageImg {
    object-fit: cover;
}